
<div class="container border">
  <div class="row">
    <div class=" banner-image col-12 border d-flex justify-content-center align-items-center" style = "background-image: url('https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2020/09/931/524/popcorn.jpg?ve=1&tl=1');  height: 200px; ">
    <h1 class="text-center align-middle">Save any kind of movies</h1>
    </div><!-- col-12-->
  </div><!-- row-->

<div class="row">
  <% @lists.each do |list| %>
  <div class="col-4">
    <div class="card my-3">
    <div class="banner-image d-flex justify-content-center align-items-center " style=" height: 200px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(list.photo.key)  if list.photo.present? %>')">
          <%= link_to list_path(list.id) do %>
            <h2><%= list.name %></h2>
          <% end %>

          <%= link_to "Delete", list_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger mx-3" %>

      </div><!-- div image-->
    </div><!-- card-->
    </div><!-- col-4-->
<% end %>
</div><!-- row-->
</div> <!-- main container-->
